# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Flask
instance/
.webassets-cache

# Database
*.sqlite
*.db

# Static/Uploads
static/uploads/*
!static/uploads/.gitkeep

# IDEs
.vscode/
.idea/
.DS_Store
